* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Calibri Light";
}

body {
    background: url("http://or2fnb3it.bkt.clouddn.com/bg.jpg");
    width: 100%;
    height: 100%;
}

.cover {
    background: rgba(0, 0, 0, 0.73);
    width: 100%;
    height: 100%;
    z-index: -10;
}

.ll {
    width: 1000px;
    height: 10px;
}

.title {
    width: 1000px;
    height: 60px;
    background-color: rgb(0, 79, 230);
    border-radius: 15px 15px 8px 8px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    color: #e6606b;
}

.title img {
    width: 50px;
    height: 50px;
    padding: 0 0 5px 0;
    vertical-align: middle;
}

.line_1 {
    width: 985px;
    height: 4px;
    background-color: #e6606b;
    border-radius: 2px;
    margin: 3px auto 0;
}

.line_2 {
    width: 970px;
    height: 5px;
    background-color: rgb(0, 79, 230);
    margin: 2px auto 0;
    border-radius: 2px;
}

.line_3 {
    width: 985px;
    height: 4px;
    background-color: yellow;
    border-radius: 2px;
    margin: 3px auto 0;
}

.nav {
    width: 1000px;
    height: 50px;
    margin: 5px auto 0;
    background: #e6606b;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.nav ul {
    margin: 0 auto;
    display: block;
}

.nav ul li {
    float: left;
    width: 200px;
    height: 50px;
    font-size: 24px;
    color: #6cd1ff;
    text-align: center;
    line-height: 50px;
    background-color: #e6606b;
    -webkit-transition: color, background-color 0.5s linear;
}

.nav ul li a {
    color: #6cd1ff;
}

.nav ul li:hover {
    background-color: yellow;
}

.nav ul li:hover > a {
    color: rgb(0, 79, 230);
    font-weight: bold;
}

.content {
    width: 1000px;
    height: 500px;
    background: rgb(0, 79, 230);
    margin: 5px auto;
}

.small {
    width: 240px;
    height: 240px;
    background: black;
    float: left;
    margin: 5px;
    overflow: hidden;
    color: white;
    font-weight: 100;
}

.small img {
    width: 240px;
    height: 240px;
    -webkit-transition: width, height 0.5s linear;
}

.word {
    position: relative;
}

.pic_word {
    position: absolute;
    top: 245px;
    width: 240px;
    height: 250px;
    line-height: 30px;
    background: rgba(6, 149, 230, 0.82);
    -webkit-transition: top 0.5s linear;
}

.pic_word p {
    width: 240px;
    margin: 5px 0 0 10px;
}

.user_info p:nth-child(2),
.user_info p:nth-child(3),
.user_info p:nth-child(4),
.user_info p:nth-child(5) {
    margin-left: 30px;
}

.word:hover > .pic_word {
    top: 0;
}

.small img:hover {
    -webkit-transform-origin: center center;
    -webkit-animation: "big" 1s;
}

@-webkit-keyframes "big" {
    0% {
        -webkit-transform: scale(1)
    }
    100% {
        -webkit-transform: scale(1.3)
    }
}

.content_2 {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    /*background: #e6424a;*/
}

footer {
    width: 1000px;
    height: 100px;
    background-color: rgb(0, 79, 230);
    margin: 3px auto 5px;
    border-radius: 0 0 15px 15px;
}

::-webkit-scrollbar {
    background-color: rgb(0, 79, 230);
}

::-webkit-scrollbar-thumb {
    background-color: yellow;
}

.list {
    width: 400px;
    height: 380px;
    color: #6cd1ff;
    font-size: 20px;
    background: #e6606b;
    overflow: auto;
    text-align: center;
    float: left;
    margin: 10px 0 0 0;
    border-radius: 15px 0 15px;
}

.list a {
    color: #6cd1ff;
    font-weight: bold;
}

.list_title {
    color: #6cd1ff;
    width: 400px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
    font-weight: bold;
}

.list ul li {
    margin-top: 10px;
}

.music {
    float: left;
}

.pic {
    float: left;
    width: 250px;
    height: 380px;
    margin: 10px 0 0 10px;
    border-radius: 15px 0 15px;
    overflow: hidden;
}

.pic img {
    width: 250px;
}
